<div>
  <h1>Translator</h1>
<!--  <button (click)="translate('Kafka Streams is a client library for building applications and microservices,' +-->
<!--    ' where the input and output data are stored in Kafka clusters.', 'fr')">Translate to German</button>-->
  <p #paragraph>Microservice architecture is a very popular approach in designing and implementing highly scalable web applications. Communication within a monolithic application between components is usually based on method or function calls within the same process. A microservices‑based application, on the other hand, is a distributed system running on multiple machines.</p>

<!--  <p #paragraph2>Communication between these microservices is important in order to have a stable and scalable system. There are multiple ways to do this. Message-based communication is one way to do this reliably.</p>-->
<!--  <p #paragraph3>When using messaging, components interact with each other by asynchronously exchanging messages. Messages are exchanged through channels.</p>-->
  <h2>Translated Section</h2>
  <p>{{translatedText}}</p>
<!--  <p *ngFor="let paragraph of translatedTextList">{{ paragraph }}</p>-->
  <h2>Supported Languages</h2>
  <p *ngFor="let lang of languages">{{ lang.name }} [ {{ lang.code }} ]</p>
  <hr/>
</div>
